.header__nav
{
    display:flex;
    overflow:hidden;
}
.header__logo
{
    flex:1;
    display:flex;
    position:relative;
    padding:20px;
    
}
.header__logo-overlay
{
    position:absolute;
    inset:0;
    width:100%;
    background-color: var(--primary-color);
    z-index:-1;
}
.header__logo h4
{
    padding-left:30px;
    color:#fff;
    font-family:var(--plus-jakarta-sans);
    font-weight:500;
    
}
.header__menu
{
    display:flex;
    list-style:none;
    justify-content: flex-end;
    padding:20px;
    gap:64px;
    align-items:center;
    flex:1.189;
}
.header__menu li {
font-weight:500;
font-family:var(--plus-jakarta-sans);
color:var(--secondary-color);
opacity:0.8;
}